#page1 {
  font-size: 2em;
margin:auto;
padding:auto;
background: #000 url(https://c8.staticflickr.com/6/5746/30090214303_7ee686e4c4_k.jpg) center center fixed no-repeat;
            -moz-background-size: cover;
            background-size: cover;
}

#words{
color:mediumspringgreen;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
opacity: 1,0;
  }
  50% {
    -webkit-transform: scale(1.2);
opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
opacity: 1.0;
  }
}

#love
{
opacity: 1.0;
border:0;
}


#love:hover {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 10;
}
~
~


